*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app__trips{
}
.app__trips-contain{
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    padding: 1rem;
}
.app__trips-info{
    padding: 0.5rem 0;
}
.app__trips-info__latest,.app__trips-info__attendance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}
.app__trips-head,.app__trips-info__attendance-head{
    display: flex;
    padding: 2rem 1rem;
}
.app__trips-main,.app__trips-effort,.app__trips-info__attendance-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    justify-content: center;
}
.app__trips-info__latest-trip{
    margin: 0.5rem;
}
.app__trips-info__attendance{
    display: flex;
    flex-direction: column;
}
.app__trips-info__attendance-head{
    display: flex;
}
.app__trips-info__attendance-main{
    /* display: flex; */
}
.app__trips-effort{
    /* display: flex; */
}
.app__trips-effort__soon{
    display: flex;
    margin: 0 0.5rem;
}