.app__address{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* .app__address:active{
    background-color: orange;
} */
.app__address-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 7rem 5rem;
}
span{
    margin-left: 1.5rem;
}