.app__address{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* .app__address:active{
    background-color: orange;
} */
.app__address-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 7rem 5rem;
}
span{
    margin-left: 1.5rem;
}

@media screen and (max-width: 425px) {
    .app__address-main{
        margin: 5rem 4rem;
    }
    span{
        margin-left: 1rem;
    }
}
@media screen and (max-width: 768px) {
    .app__address-main{
        margin: 6rem 5rem;
    }
}
@media screen and (max-width: 1024px) {
    .app__address-main{
        margin: 5rem 6.7rem;
    }
}