.app__email{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__email-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 7rem 5rem;
    color: #fff;
}
span{
    margin-left: 1.5rem;
    color: #fff;
}
@media screen and (max-width: 425px) {
    .app__email-main{
        margin: 5rem 4rem;
    }
}
@media screen and (max-width: 768px) {
    .app__email-main{
        margin: 6rem 5rem;
    }
}
@media screen and (max-width: 1024px) {
    .app__email-main{
        margin: 5rem 6.7rem;
    }
}