.app__email{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__email-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 7rem 5rem;
    color: #fff;
}
span{
    margin-left: 1.5rem;
    color: #fff;
}