/* .app__home{
}*/

.app__home-startVisual{
  width: 100%;
  display: flex;
  flex-direction: column;
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    margin: 0;
    padding: 0;
}
.app__miniNav-contain{
  justify-content: center;
  align-items: center;
}
.app__home-inPageNav{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border: 2px solid #fff;
    background-color: #fff transparent;
    margin: 25rem 10rem 0 10rem;
    padding: 5rem;
}
.app__home-inPageNav a{
  color: #000;
  background-color: #fff;
  display: flex;
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem 2rem 0 0;
  font-family: 'Delicious Handrawn', cursive;
}
.app__home-inPageNav a:hover{
  background-color: #000;
  color: orange;
  border-bottom: 5px solid orange;
}
.app__home-inPageNav a:active{
  background-color: skyblue;
  color: orange;
}
/* .app__home-destination, .app__home-hotelCheckIn,*/.app__home-testimonialSnippets{
    display: flex;
    flex-direction: row;
}
/* .app__home-destination, .app__home-hotelCheckIn{
    display: grid;
    grid-template-columns: ;
} */
.app__home-contents {
  padding: 1rem;
}
.app__home-destination, .app__home-hotelCheckIn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-gap: 1rem;
    padding: 1rem 0;
    }

    .app__home-DestinationCard img, .app__home-hotelCheckInCard img {
      width: 100%;
      height: 10rem;
      object-fit:cover;
    }
.app__home-DestinationCard, .app__home-hotelCheckInCard{
    /* margin: 1rem 1rem; */
    /* margin: 1rem 1rem;
    width: 15rem; */
    /* height: 15rem; */
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.app__home-DestinationCard:hover,.app__home-hotelCheckInCard:hover{
    cursor: pointer;
}
.app__home-fares{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}
.app__fare-contain,.app__activities-contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__activities-contain{}
.app__home-FaresCard{
    margin: 2rem;
    padding: 2rem;
    width: 10rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 0 0 2rem;
}

.app__home-testimonials{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.app__home-testimonialSnippets{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__home-contents__headings{
    display: flex;
    padding: 1rem 0;
}
.makati{
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 1rem 0;
}
.app__home-contents__headings h2{
  font-family: 'Roboto Slab', serif;
}
.app__home-contents__headings p{
  margin: 0.3rem 0.5rem;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 1rem;
}
  
  .endVisual{
    width: 100%;
  }


  @media screen and (max-width: 768px) {
    .app__home-contents{
      padding: 0.8rem;
    }
    .app__miniNav-contain{
      display: none;
    }
    .app__home-contents__headings{
      padding: 0.8rem 0;
    }
    .app__home-destination,.app__home-hotelCheckIn{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* grid-template-rows: repeat(5, 1fr); */
      grid-gap: 0.8rem;
      padding: 0.8rem 0;
    }
    .app__home-DestinationCard{}
    .app__home-fares{
      margin: 4rem;
    }
    .app__home-FaresCard{
      margin: 1.5rem;
      padding: 1.5rem;
      width: 8rem;
    }
    .app__home-testimonials{}
    .app__home-testimonialSnippets{
      display: flex;
    }
}
@media screen and (max-width: 425px) {
  .app__miniNav-contain{
    display: none;
  }
  .app__home-contents__headings{
    padding: 0.6rem 0;
  }
  .app__home-destination,.app__home-hotelCheckIn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-gap: 0.8rem;
    padding: 0.8rem 0;
  }
  .app__home-fares{
    margin: 2rem;
  }
  .app__home-FaresCard{
    margin: 1rem;
    padding: 1rem;
    width: 6.5rem;
  }
  .app__home-testimonials{
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .app__home-destination,.app__home-hotelCheckIn{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-gap: 0.8rem;
    padding: 0.8rem 0;
  }
  .app__home-fares{
    margin: 1rem;
  }
  .app__home-FaresCard{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 6.2rem;
  }
  .app__home-testimonials{
    display: none;
  }
  .app__home-endVisual img{
    width: 100%;
  }
}