*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app__mission{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 10rem;
    border-radius: 1rem;
}

@media screen and (max-width: 425px) {
    .app__mission{
        padding: 5rem;
    }
}
@media screen and (max-width: 375px) {
    .app__mission{
        padding: 3rem;
    }
}