*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    margin: 0rem 1rem;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li a{
    display: flex;
    padding: 0.4rem 1rem;
    margin: 0 1rem;
    /* margin: 1 0.1rem;
    padding: 0.29rem 2rem; */
}
ul li a:hover{
    border-bottom: 2px solid #000;
    
}
ul li a:active{
    color: #fff;
    background: #000;
    border-radius: 5px;
}
.menu__icon{
    display: none;
}
.small__screen{
    display: none;
}

@media screen and (max-width: 768px) {
    .big__screens{
        display: none;
    }
    .menu__icon{
        display: flex;
    }
}