footer{
    margin: 0;
    padding-bottom: 2rem;
    display: block;
    /* background-color: gainsboro; */
    background-color: #000;
    color: #fff;
}
.rights{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem 8rem;
}
.app__footer-contain{
    margin: 6rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app__footer-1, .app__footer-2,.app__footer-3,.app__footer-4{
    display: flex;
    flex-direction: column;
}
.app__footer-head{
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
    color: orange;
}
.app__footer-body{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1px;  
}
.app__footer-body p, .app__footer-body a{
    display: flex;
    padding: 0.3rem 0 0.3rem 0;
    color: gainsboro;
}
/* .huver{
    color: ;
} */
.app__footer-1__socials{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.app__footer-1__socials a{
    margin: 0rem 1rem;
    padding: 1rem 0;
}
.rights{
    color: gainsboro;
}